<div class="container m-0 p-0">
    <h1 class="display-3 fw-bold mb-4">Blogs</h1>
    <div class="d-flex"></div>
    <div class="row">
        <div class="col-auto">
            <app-blog-feed
                [technology]="'Angular'"
                [language]="'TypeScript'"
                [feedDate]="'2022-05-29'"
                [feedSummary]="
                    'Let’s suppose we were having a code snippet with a structure like if {…} else if (…) else if (…) … else...'
                "
                [feedTitle]="'Implementing a Map Strategy Pattern With Angular 13+'"
                [feedUrl]="
                    'https://medium.com/@praveenkumarlsipl/implementing-a-map-strategy-pattern-with-angular-13-bd06065bad50'
                "
                [imageUrl]="'https://miro.medium.com/max/1280/1*dB7_jvLcEdEyj-D6NJZREg.png'"
                [profileImgUrl]="'https://cdn-images-1.medium.com/fit/c/132/132/1*HWsGCJESbltW2ryOVMic_A.jpeg'"
            ></app-blog-feed>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <p class="display-2 m-0 p-0">More To Come Soon...</p>
        </div>
    </div>
</div>
