<div class="container">
    <h1 class="display-3 fw-bold">Experience</h1>
    <div class="timeline">
        <div class="timeline-row">
            <div class="timeline-company text-primary fw-bold">AutoBrix<small>Jan 2019 - Mar 2020</small></div>
            <div class="timeline-content">
                <img src="assets/img/autobrix.jpg" width="50" height="50" class="rounded-circle" />
                <h4>Junior Full-Stack Developer</h4>
                <p>
                    My job responsibilities here include developing the application with spring MVC(java). Here I have
                    the role of a Junior Developer trying hands on with the tech stack like spring projects and angular
                    as a frontend.
                </p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-company text-primary fw-bold">
                Logicsoft International Pvt Ltd<small>March 2020 - May 2021</small>
            </div>
            <div class="timeline-content">
                <img src="assets/img/logicsoft.jpg" width="50" height="50" class="rounded-circle" />
                <h4>Full-Stack Developer</h4>
                <p>
                    My job responsibilities here include writing the microservices and the Rest API’s with Spring
                    Boot(and several other spring family projects), Hibernate, NestJs (with Nodejs) and Integrating them
                    with Angular on the UI side front. I was also responsible here for designing a polyglot model based
                    template project consuming technologies from Java and Javascript domains like Spring based projects
                    and NestJs(running on NodeJs as a platform).
                </p>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-company text-primary fw-bold">
                Cresitatech IT Solutions Pvt Ltd<small>May 2021 - Present</small>
            </div>
            <div class="timeline-content">
                <img src="assets/img/cresitatech.jpg" width="50" height="50" class="rounded-circle" />
                <h4>Sr. Full-Stack Developer</h4>
                <p>
                    My job responsibilities here include managing the backend microservices In spring boot and the
                    frontend in angular. The project is concerned with the law domain and it’s a SAAS based ERP
                    application. My Job responsibilities here include identifying key components in a domain, designing
                    the system with team members following the agile principles on both the UI and Server side front and
                    doing peer code reviews.
                </p>
            </div>
        </div>
    </div>
</div>
