<div class="row mt-5">
    <div class="col-sm-6 mb-3">
        <div class="card h-100 bg-primary text-dark">
            <div class="h-100 row g-0">
                <div class="col-md-5 d-flex align-items-center p-2">
                    <img src="assets/img/autobrix-card.png" class="img-fluid rounded-start" alt="..." />
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">Automobile Services</h5>
                        <p class="mb-5 card-text">
                            AutoBrix provides auto services to the customers at the convenience of their home, office,
                            or any other location which the customer wants.
                        </p>
                        <div class="d-flex">
                            <div data-bs-toggle="tooltip" data-bs-placement="bottom" title="Angular">
                                <img src="assets/img/angular.png" width="35" height="35" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Spring Boot">
                                <img src="assets/img/spring-boot.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="MySQL">
                                <img src="assets/img/mysql.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="RxJs">
                                <img src="assets/img/rxjs.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Java">
                                <img src="assets/img/java.png" width="30" height="30" class="rounded-circle" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3">
        <div class="card h-100 bg-primary text-dark">
            <div class="row h-100 g-0">
                <div class="col-md-5 d-flex align-items-center p-2 bg-light">
                    <img src="assets/img/interbill.png" class="img-fluid rounded-start" alt="..." />
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">Attorney Billing SaaS</h5>
                        <p class="card-text">
                            This is an attorney billing software and service which is hosted as a SaaS application in
                            the cloud. The software provide Attorneys with the most cost effective and easiest methods
                            to bill and get paid.
                        </p>
                        <div class="d-flex">
                            <div data-bs-toggle="tooltip" data-bs-placement="bottom" title="Angular">
                                <img src="assets/img/angular.png" width="35" height="35" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Spring Boot">
                                <img src="assets/img/spring-boot.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Docker">
                                <img
                                    src="assets/img/docker-circular.png"
                                    width="30"
                                    height="30"
                                    class="rounded-circle"
                                />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="NodeJs">
                                <img src="assets/img/nodejs.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="NestJs">
                                <img src="assets/img/nest.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="RxJs">
                                <img src="assets/img/rxjs.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Java">
                                <img src="assets/img/java.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Microservices">
                                <img src="assets/img/microservices.jpg" width="30" height="30" class="rounded-circle" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card bg-primary text-dark mb-3">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="assets/img/fssai.png" class="img-fluid h-100 rounded-start" alt="..." />
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Food Licensing Services</h5>
                        <p class="mb-5 card-text">
                            Food Safety Compliance System (FoSCoS) is an enhanced version of the Food Licensing and
                            Registration System (FLRS) which was launched in 2012 for issuance of pan-India FSSAI
                            Licenses and Registration. Here is the project live: https://foscos.fssai.gov.in.
                        </p>
                        <div class="d-flex">
                            <div data-bs-toggle="tooltip" data-bs-placement="bottom" title="Angular">
                                <img src="assets/img/angular.png" width="35" height="35" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Spring Boot">
                                <img src="assets/img/spring-boot.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Docker">
                                <img
                                    src="assets/img/docker-circular.png"
                                    width="30"
                                    height="30"
                                    class="rounded-circle"
                                />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Javascript">
                                <img src="assets/img/javascript.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="NodeJs">
                                <img src="assets/img/nodejs.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="NestJs">
                                <img src="assets/img/nest.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="ExpressJs">
                                <img src="assets/img/express.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hibernate">
                                <img src="assets/img/hibernate.jpg" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Postgres">
                                <img src="assets/img/postgres.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="RxJs">
                                <img src="assets/img/rxjs.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Java">
                                <img src="assets/img/java.png" width="30" height="30" class="rounded-circle" />
                            </div>
                            <div class="me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Microservices">
                                <img src="assets/img/microservices.jpg" width="30" height="30" class="rounded-circle" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
