<div
    class="d-none d-md-flex offcanvas offcanvas-start show min-vh-100 w-70 border-0"
    data-bs-scroll="true"
    data-bs-backdrop="false"
>
    <app-navbar class="px-3 offcanvas-body bg-secondary"></app-navbar>
</div>

<div class="d-md-none">
    <app-navbar class="bg-secondary"></app-navbar>
</div>

<div class="page-left-margin container">
    <div class="row min-vh-100 flex-nowrap">
        <main class="col pb-4 px-3 px-md-5">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
