<div class="h-100">
    <div class="d-flex flex-column justify-content-between h-100">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <div class="position-relative">
                    <h3 class="name poppins">Praveen Kumar</h3>
                    <h3 class="position-absolute top-0 start-0 name-overlapped poppins">Praveen Kumar</h3>
                </div>
                <div>
                    <span class="badge bg-success text-dark me-2">Open to work</span>
                    <span class="badge bg-warning text-dark me-2">Freelancer</span>
                    <span class="badge bg-info text-dark me-2">Consultant</span>
                    <span class="badge bg-danger text-white">Full stack developer</span>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-auto">
                        <i class="fs-5 text-primary bi bi-envelope"></i>
                    </div>
                    <div class="col-auto fw-light fst-italic">{{ email }}</div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <i class="fs-5 text-primary bi bi-telephone"></i>
                    </div>
                    <div class="col-auto fw-light fst-italic">{{ mobile }}</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div>
                <h1 class="font-monospace skill-h1 position-relative overflow-hidden">
                    <span>Hire Me For:</span>
                    <div class="skills d-block position-absolute overflow-hidden">
                        <div *ngFor="let skill of skills" class="skill-name">{{ skill }}</div>
                    </div>
                </h1>
            </div>
        </div>
        <p class="lead lh-base">
            I'm a New Delhi, India based Full stack developer with 3.5+ years of experience in developing micro
            services, REST driven API's and web based UI with smooth UX using tech stack like Spring-Boot, Angular and
            NodeJs.Throughout my career I have worked with multiple agile teams and delivered successful products in
            various domains like Automobile, Fintech, Law and Food based SaaS driven platforms.
        </p>
        <div class="d-grid col-2 mx-auto">
            <div class="row">
                <button
                    #resumeBtn
                    class="col slide bg-dark text-white fw-bold py-3 me-4"
                    (click)="downloadResume(); resumeBtn.blur()"
                    type="button"
                >
                    Download Resume
                </button>
                <!-- May be implement in future -->
                <!-- <button class="col slide bg-dark text-white fw-bold py-3" type="button">Hire Me</button> -->
            </div>
        </div>
    </div>
</div>
